$primary: #152B52;
$secondary: #E68531;
$dark-gray: #D9D9D9;
$muted: #5A5957;
$body-bg: #F6F6F6;
$white: #FFFFFF;
$poppins-font: 'Poppins', sans-serif;
$roboto-font: 'Roboto', sans-serif;
.admin-layout .admin-main .admin-topbar {
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    .dep-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
    margin-bottom: 0px;

    .depurture-button {
    width: max-content;
    padding: 15px 24px;
    background: #FF543E;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    line-height: 100%;
}

.user-button {
    background: #152B52;
    color: #fff;
    border-radius: 5px;
    height: 42px;
    width: 42px;
    border: none;
}
}
}

.navbar-nav .dropdown-menu{
    border-radius: 0;
    background: transparent;
    border: none;
    padding: 0;
    a{
      font-weight: 500;
      font-size: 18px;
    }
  }
 .navbar .menu-bar .nav-link{
       font-size: 24px;
      font-weight: 700;
      color: $primary;
      margin: 15px 0;
      text-transform: capitalize;
      transition: color 0.3s ease;

      &:hover {
        color: $secondary;
      }
    }
       .user-role,.user-name {display: none;}
     .user-dropdown .dropdown-toggle::after{content: none;}
     .user-dropdown .user-info{
        gap: 0;
       }
     .user-dropdown .dropdown-menu-custom{
        left: -109px;
        border: none;
    border-radius: 10px;
    min-width: 144px;
    background: #fff;
    padding: 10px 0px;
       }
       .mobile-navbar .mobile-menu{
        justify-content: start !important;
       }
       .navbar-nav{
        margin-top: 0;
        padding: 16px 25px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        height: 100%;
       }
     .navbar .menu-bar .nav-link {
    padding: 0px;

    
      }
.site-header .user-dropdown .dropdown-toggle-custom {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    display: flex
;
    align-items: center;
    padding: 0;
    cursor: pointer;
}
      
    
