.inner-about-section {
    width: 100%;
    height: auto;
    padding: 36px 0;

    .upper-para p {
        font-size: clamp(0.875rem, 0.7557rem + 0.3817vw, 1rem);
        color: $primary;
    }

    h2 {
        font-size: clamp(1.125rem, 0.7672rem + 1.145vw, 1.5rem);
        color: $primary;
        margin: 16px 0;
    }

    .about-img {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .row{
     @media (max-width: 768px) {
                flex-direction: column; gap: 30px;
            }
}

}

.mission {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #E68531;
    padding: 24px 0;
    border-radius: 10px;
    gap: 16px;
    color: #fff;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 48px;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 100%;
        margin-bottom: 0;
    }

    p {
        max-width: 752px;
        font-size: 16px;
        line-height: 120%;
        font-weight: 400;
    }

}

section.our-joruney {
    width: 100%;
    padding: 50px;
    text-align: center;
    position: relative;
    // ::after{content: ''; position: absolute; width: 1px; height: 6px; background-color: $secondary;}

    p.sec-heading {
        margin: 16px 0 36px 0;
        font-weight: 300;
        font-size: 24px
    }

    .jour-blocks {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        padding: 40px 0 24px 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        border: solid 1px #e6863d;
        height: 232px;
        z-index: 99;
        background: #FFFFFF;

        img {
            width: 54px;
            height: auto;
        }

        h3 {
            margin: 23px 0 36px 0;
            font-size: clamp(1.125rem, 0.7672rem + 1.145vw, 1.5rem);
            color: $secondary;
        }

        p {
            font-size: clamp(0.875rem, 0.7557rem + 0.3817vw, 1rem);
            color: $secondary;
        }

        span {
            position: absolute;
            width: 96px;
            height: 28px;
            text-align: center;
            display: flex;
            background-color: #E68531;
            color: #FFFFFF;
            font-size: 16px;
            align-items: center;
            justify-content: center;
            top: -15px;
            border-radius: 30px;
        }
    }

    .for-psudo {
        position: relative;
        width: 100%;
        height: auto;

        &::before {
            content: "";
            position: absolute;
            height: 8px;
            background-color: #E68531;
            left: 5%;
            width: 90%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    

.row{
     @media (max-width: 768px) {
                flex-direction: column; gap: 30px;
            }
}


}

section.our-values {
    width: 100%;
    padding: 36px;
    background: $body-bg;

    .inner-values-blocks {
        border: solid 1px #E68531;
        padding: 24px 16px;
        border-radius: 10px;
        min-height: 325px;
        background: rgba(255, 255, 255, 1);

        .values-icn {
            width: 40px;
            height: 40px;
            background: $secondary;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin: 0 0 24px;
        }

        h3 {
            color: $muted;
            font-size: 24px;
            margin: 0 0 16px;
            line-height: 100%;
            font-weight: 600;
        }

        p.upper-line {
            color: $muted;
            font-size: 16px;
            margin: 0 0 48px;
            padding: 0 0 24px;
            line-height: 100%;
            font-weight: 400;
            border-bottom: 1px solid #00000033;
        }

        h4 {
            font-size: 24px;
            font-weight: 600;
            line-height: 100%;
            color: #E68531;
            margin: 0 0 4px;
        }
    }
.row{
     @media (max-width: 768px) {
                flex-direction: column; gap: 30px;
            }
}
}
.prof-team {
    width: 100%;
    height: auto;
    padding: 50px 0;

    ul {
        display: flex;
        flex-direction: column;
        gap: 22px;

        li {
            display: flex;
            gap: 9px;
            align-items: start;

            .list-icon-wrap {
                width: 13px;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    p.upper-team-line {
        font-size: 16px;
        line-height: 100%;
        font-weight: 400;
        color: $primary;
    }

    .team-img {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
        color: $primary;
        margin: 16px 0px 24px;
    }

    h5 {
        font-size: 16px;
        font-weight: 700;
        line-height: 100%;
        margin: 0;
        color: $primary;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: $primary;
    }
     @media (max-width: 767px) {
                 .row{flex-direction: column; gap:30px}
            }
   
}
.contactpage-section{
    width: 100%;
    height: auto;
    background: url(../../../../src/img/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 134px 0;
    background-position: bottom;
    position: relative;
&::before{content: ''; width: 100%; height: 100%; top:0; left: 0; background: #152B5299;
 position: absolute;}

 .contact-text-wrap {
    z-index: 999;
    color: #fff;

    .contact-para-1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    margin: 0 0 16px;
}
h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    margin: 0 0 24px;
    @media (max-width: 767px) {
                 font-size: 16px; line-height: 100%;
                 
            }
}
.cont-wrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    p {
    font-size: 16px;
    font-weight: 400;
    display: flex;

    span.contact-head{ width: 85px;}

    a{color: #FFFFFF;}
}
}

}
.section-button.btn {
    width: 180px;
    height: 52px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}
@media (max-width: 767px) {
                 padding:24px;

            }
}


.ab-page{
    @media (max-width: 767px) {
        .contactpage-section{
            padding: 24px 0;
            .main-button{
              display: block !important;
            }
            .cont-wrap{
                span{
                    flex-shrink: 0;
                }
            }
        }
        .inner-banner{
            margin-bottom: 0;
        }
        .inner-about-section{
            padding-top: 0;
            .container{
                .row{
                    flex-direction: column-reverse;
                    .about-img-wrap{
                        padding: 0;
                        .about-img{
                            border-radius: 0;
                            height: 217px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .upper-para{
                        font-size: 16px;
                        h2{
                            font-size: 24px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .our-values{
            padding: 24px 0;
        }
        .about-mission{
            .container{
                padding: 0;
                .mission{
                    padding: 16px;
                    border-radius: 0;
                    h2{
                        font-size: 24px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
        .our-joruney{
            padding: 36px 0px;
            .for-psudo{
                width: auto;
                padding-top: 16px;
                &::before{
                    height: 90%;
                    left: 50%;
                    width: 8px;
                    top: auto;
                    transform: translateX(-50%);
                }
                
            }
        }
        .prof-team{
            padding: 0;
            .prof-team-img{
                padding: 0;
                .team-img{
                    border-radius: 0;
                    height: 228px;
                    img{
                        width: 100%;
                        object-fit: cover;
                        height:100%;
                    }
                }
                
                
            }
            .team-info{
                    padding-bottom: 24px;
                    h4{
                        font-size: 16px;
                    }
                }
                .cont-wrap{
                    p{
                        span{
                            flex-shrink: 0;
                        }
                    }
                }
                
        }
        
    }
}



        .abvalue-blocks {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;
            @media (max-width: 768px) {
            margin-top:24px;
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            gap: 1rem;
            padding-bottom: 10px;
            &::-webkit-scrollbar {
                display: none;
            }
            .value-card {
                flex: 0 0 85%;
                scroll-snap-align: start;
            }
            }
        }