.driver-dashboard {
  padding-bottom: 40px;
    .headar-logo{
        text-align: center;
        img{
            max-width: 387px;
            margin: 34px auto;
            width: 100%;
            @media (max-width: 768px) {
              max-width: 280px;
              margin: 16px auto;
              width: 100%;
            }
        }
    }
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    .user-info {
    display: flex;
    align-items: center;
    gap: 15px;
    width: max-content;

    .user-avatar {
      width: 73px;
      height: 73px;
      background: $primary;
      color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      line-height: 100%;
      font-size: 24px;
      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
        font-size: 18px;
      }
    }
    h5{
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: $primary;
        @media (max-width: 768px) {
        font-size: 18px;
        }
    }
    p{
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        color: $primary;
        @media (max-width: 768px) {
        font-size: 12px;
        }
    }
  }
    .logout-btn {
        background: #001d3d;
        border: none;
        padding: 14px 40px;
        border-radius: 10px;
        display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      line-height: 100%;
      font-weight: 500;
      width: max-content;
      @media (max-width: 768px) {
          font-size: 14px;
          padding: 7px 20px;
        }
      }

    
  }
  .tab-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-top: 33px;
    margin-bottom: 16px;
    .filter-tabs {
   
    display: flex;
    gap: 16px;
    width: max-content;
    @media (max-width: 768px) {
         gap: 8px;
        }
    button {
      border-radius: 10px;
      background:transparent;
      color: #D9D9D9;
      border: none;
      padding: 10px;
      font-size: 18px;
      font-weight: 500;
      line-height: 100%;
      border: 1px solid #D9D9D9;
      @media (max-width: 768px) {
          font-size: 14px;
          padding: 8px 8px;
        }
      &.active {
        background: $primary;
        color: #fff;
        border: 1px solid $primary;
      }
    }
  }
  .header-actions {
      display: flex;
      align-items: center;
      gap: 15px;
      @media (max-width: 768px) {
          gap: 8px;
        }
     width: max-content;
      .filter-btn {
        background: #5A5957;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px;
        gap: 6px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        @media (max-width: 768px) {
         padding: 8px 8px;
         font-size: 14px;
        }
        &::after{
            content: none;
        }
        &:hover {
          background: #e9ecef;
        }
      }

      
    }
  }

  .state-icon-transparent{
        background: transparent !important;
    }

  

  .stats-row {
    margin-bottom: 30px;
    
    .stats-card {
      border-radius: 10px;
      color: #fff;
      text-align: center;
      padding: 15px 0;

      h6 {
        margin-bottom: 5px;
      }
    }
  }

  .assigned-tasks {
    margin-top: 36px;
    h4 {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 600;
      line-height: 100%;
      color: $primary;
      margin-bottom: 16px;
    }

    .no-tasks {
      text-align: center;
      color: #888;
      font-style: italic;
    }
  }

  .task-card {
    .task-card-blue{
      background: $primary;
      padding: 24px 36px 0;
       @media (max-width: 992px) {
         padding: 12px 12px 0;
      }
    }
    .task-card-orange{
      background: $secondary;
      padding: 24px 36px;
      @media (max-width: 992px) {
         padding: 12px 12px;
      }
    }
    
    border-radius: 10px;
    color: #fff;
    margin-bottom: 24px;
    overflow: hidden;
     @media (max-width: 992px) {
         margin-bottom: 12px;
      }

    .task-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 9px;
      .task-name{
        h6{
          font-size: 16px;
          font-weight: 600;
          line-height: 100%;
          margin-bottom: 6px;
          display: flex;
          gap: 6px;
        }
        p{
          font-size: 14px;
          font-weight: 300;
          line-height: 100%;
        }
      }
      .priority-tag {
        padding: 5px;
        font-size: 12px;
        line-height: 100%;
        color: #fff;
        display: flex;
        gap: 4px;
        border-radius: 10px;
        &.high {
          background: #F31928;
        }
        &.normal {
          background: #E68531;
        }
        &.low {
          background: #3771C8;
        }
      }
    }

    .task-details {
      list-style: none;
      margin: 0;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media (max-width: 992px) {
         padding: 15px 8px;
         gap: 8px;
      }
      li {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 300;
        line-height: 100%;
        display: flex;
        gap: 6px;
      }
    }

    .vehicle-details {
      color: #fff;

      h6 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 4px;
        display: flex;
        gap: 6px;
      }
    }

    .action-buttons {
      display: flex;
      justify-content: space-between;
      gap: 12px;

      button,a {
        border-radius: 10px;
        padding: 9px 0;
        font-weight: 400;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: center;
        border: 1px solid #FFFFFF;
        width: 100%;
        color: #fff;
        line-height: 100%;
        &:hover{
          background: #fff;
          color: $primary;
          img{
            filter: brightness(0) saturate(100%) invert(15%) sepia(44%) saturate(1075%) hue-rotate(183deg) brightness(96%) contrast(99%);
          }
        }
      }
      .accept{
        background: $primary;
        border: 1px solid transparent;
      }
    }

    // &.high {
    //   border: 2px solid #ff2d2d;
    // }
  }
}
