.faq-section {

  
  .faq-accordion {
    .accordion-item {
      border: none;
      margin-bottom: 30px !important;
      border-radius: 10px;
      background: $secondary;
      overflow: hidden;
     
      

      .accordion-header {
        button {
          background: transparent;
          border-radius: 10px;
          font-weight: 600;
          font-size: 18px;
          color: $primary;
          box-shadow: none;
          padding: 16px 36px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          @media (max-width: 768px) {
            font-size: 14px;
            
          }

          &.collapsed {
            box-shadow: none;
            background: #D9D9D9;
            color: #000;
            font-weight: 400;
          }
          &::after {
            content: "";
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 16px solid $muted;
            transition: transform 0.3s ease;
            @media (max-width: 768px) {
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 12px solid $muted;
            }
        }

        &:not(.collapsed)::after {
            transform: translateY(-50%) rotate(90deg);
            border-left: 16px solid $primary;
            @media (max-width: 768px) {
                border-left: 12px solid $primary;
            }
        }
        }
      }

      .accordion-body {
        padding: 6px 36px 24px;
        color: $primary;
        font-size: 16px;
        line-height: 120%;
        text-align: left;
        font-weight: 500;
        @media (max-width: 768px) {
             font-size: 12px;
             padding: 6px 36px 16px;
        }
      }
       @media (max-width: 767px) {
                margin-bottom: 13px !important;
            }
    }
  }
}

.inner-faq-section{
  width: 100%; height: auto; padding: 42px 0;
  @media (max-width: 768px) {
                     padding: 0;
            }
  .faq-inner{
    width: 100%; padding: 48px 97px; background-color: $body-bg; box-shadow: 0px 6px 3px #dbdbdb; border-radius: 10px;
    @media (max-width: 768px) {
            background: transparent;
            box-shadow: none;
            border-radius: 0;
            padding: 0 !important;
    }
    .heading-wrap-faq {
    display: flex;
    gap: 24px; align-items: center; margin: 0 0 30px;

    .icon-wrap {
    width: 48px;
    height: 48px;
    background: $primary;
    border-radius: 10px;
    display: flex;
    padding: 8px;
    flex-shrink: 0;

     @media (max-width: 768px) {
            width: 36px;
            height: 36px;
          }
}
h2{font-size: 36px;
    font-weight: 700; line-height: 100%;
    margin: 0 0 10px;
   @media (max-width: 768px) {
           margin: 0 0 4px;
           font-size: 18px;
          }
  }

p{
  font-size: 16px;
    font-weight: 400;
    color: #000000;     line-height: 100%;
  
     @media (max-width: 768px) {
           font-size: 12px;
          }
  }


@media (max-width: 768px) {
               margin: 24px 0 14px 0;
               gap:10px;
          }



}
    .accordion-item {
    border: none;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #E68531;
    overflow: hidden;

    .accordion-header button.collapsed {
    box-shadow: none;
    background: #D9D9D9;
    color: #000; font-size: 18px;
    font-weight: 400;

    @media (max-width: 768px) {
            font-size: 12px;
            padding: 11px 60px 11px 24px;
          }
}
.accordion-header button {
    background: transparent;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #152B52;
    box-shadow: none;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

   
          @media (max-width: 768px) {
            font-size: 14px;
            padding: 11px 24px;
          }

          &.collapsed {
            box-shadow: none;
            background: #D9D9D9;
            color: #000;
            font-weight: 400;
          }
          &::after {
            content: "";
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 16px solid $muted;
            transition: transform 0.3s ease;
            @media (max-width: 768px) {
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 12px solid $muted;
            }
        }

        &:not(.collapsed)::after {
            transform: translateY(-50%) rotate(90deg);
            border-left: 16px solid $primary;
            @media (max-width: 768px) {
                border-left: 12px solid $primary;
            }
        }
        
}
 @media (max-width: 768px) {
        margin-bottom: 13px;
        
          }

    .accordion-body{ padding: 16px 16px 16px 36px;
      p{font-size: 18px;}
       @media (max-width: 768px) {
        p{font-size: 12px;}
       }
    }
}
.mb-4{margin-bottom: 29px !important;}
 @media (max-width: 768px) {
            width: 100%;
    padding: 14px 24px;
          }

    
  }
}