.website-footer{
    background: $primary;
    padding: 64px 0px 24px;
    .footer-info{
        width: 65%;
         @media (max-width: 768px){
                width: 100%;
                text-align:center;
                padding-bottom: 36px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5)
        }
        .footer-logo{
            max-width: 364px;
            width: 100%;
            @media (max-width: 768px){
                max-width: 244px;
            }
        }
        h6{
            color: $white;
            font-weight: 600;
            font-size: 24px;
            margin-top: 24px;
            margin-bottom: 36px;
            line-height: 120%;
            @media (max-width: 768px){
                font-size: 18px;
                margin-bottom: 24px;
            }
        }
        .subscribe-input {
        width: 100%;
        overflow: hidden;
        background: $primary;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
            .email-icon{
            width: 24px;
            margin: 0px 10px;
        }
        input {
        background: transparent;
        border: none;
        color: #fff;
        padding: 8px 0px;
        font-size: 13px;
        font-weight: 300;
        
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
        }
        button {
            background: transparent;
            border: none;
            color: $white;
            font-weight: 600;
            font-size: 16px;
            border-radius: 0;
            text-transform: uppercase;
        }
    }
    }
    .footer-link{
        width: 100%;
        margin-top: 30px;
         @media (max-width: 768px){
                text-align: center;
        }
        h3{
            color: $white;
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 24px;
            line-height: 120%;
        }
        .footer-navigation{
            width: 100%;
            li{
                a{
                    color: $white;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 120%;
                    display: block;
                    margin-bottom: 16px;
                    text-transform: capitalize;
                    
                }
                &:last-child a{
                        margin-bottom: 0px;
                }
            }
        }
    }
    .border-horizontal{
        width: 1px;
        background: rgba(255, 255, 255, 0.5);
        height: 100%;
    }
    .footer-contact{
        width: 100%;
        h3{
            color: $white;
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 24px;
            line-height: 120%;
        }
        li{
            a, p{
                color: $white;
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
                display: block;
                margin-bottom: 24px;
                text-transform: capitalize;
                 @media (max-width: 768px){
                    margin-bottom: 16px;
                    font-weight: 400;
                }
            }
            &:last-child a, &:last-child p{
                    margin-bottom: 0px;
            }
        }
    }
    .social-media-list {
    margin: 27px 0;
    display: flex;
    gap: 24px;
    @media (max-width: 768px){
        margin: 24px 0 0;
        justify-content: center;
    }

    li {
        a {
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
    }
    .copyright{
        margin-top: 32px;
        text-align: center;
        small, p{
            color: rgba(255, 255, 255, 0.5);
            font-weight: 400;
            font-size: 15px;
            line-height: 48px;
            text-transform: capitalize;
            @media (max-width: 768px){
                 font-size: 10px;
                 line-height: 100%;
            }
            span{
                font-weight: 900;
            }
        }
        p{
            @media (max-width: 768px){
                 margin-top: 16px;
            }
        }
        
    }
}