.site-header{
    .navbar{
        padding: 13px 0;
            .brand-logo {
                padding: 0px;
                margin: 0;
                img {
                width: 214px;
                @media (max-width: 455px) {
                   width: 180px;
                }
                }
            }
            .menu-bar{
                .nav-link {
                    font-weight: 400;
                    font-size: 18px;
                    color: $primary;
                    line-height: 100%;
                    padding: 0px 25px;
                    &:hover {
                        // color: $primary-color;
                    }
                }
            }
    }
    .user-dropdown {
  position: relative;

  .dropdown-toggle-custom {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;

    .avatar {
      width: 36px;
      height: 36px;
      background-color: $primary;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 15px;
      border-radius: 5px;
      text-transform: uppercase;
    }

    .user-name {
      font-size: 18px;
      font-weight: 600;
      color: $primary;
      margin-bottom: -5px;
      line-height: 100%;
    }

    .user-email {
      font-size: 12px;
      color: #6c757d;
      margin: 0;
      line-height: 100%;
    }

    .user-role {
      font-weight: 300;
      font-size: 14px;
      color: #999;
      line-height: 100%;
    }
    
  }
  hr{
        margin:6px 0px;
      }
  .dropdown-menu-custom {
    border: none;
    border-radius: 10px;
    min-width: 144px;
    background: #fff;

    .dropdown-item {
      display: flex;
      align-items: center;
      gap: 7px;
      padding: 3px 23px;
      font-size: 12px;
      color: $primary;
      transition: background 0.3s ease;
    &:hover{
        background: #fff;
    }
      

      &.signout {
        color: #e74c3c;
      }
    }
  }
}
.close-btn{
  display: none;
}
}

@media (max-width: 768px) {
  .mobile-navbar {
  position: relative;
  z-index: 1000;

  .nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }

  .menu-btn {
    background: none;
    border: none;
    outline: none;

    img {
      width: 36px;
      height: 36px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: hsla(0,0%,100%,.95);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left 0.4s ease-in-out;
    z-index: 1;

    &.open {
      left: 0;
    }
    .close-btn {
      display: block;
      position: absolute;
      top: 15px;
      right: 20px;
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 35px;
        height: 35px;
      }
    }
    
   
  }

  
}
  .navbar-nav .dropdown-menu{
    border-radius: 0;
    background: transparent;
    border: none;
    padding: 0;
    a{
      font-weight: 500;
      font-size: 18px;
    }
  }
   .site-header .navbar .menu-bar .nav-link{
       font-size: 24px;
      font-weight: 700;
      color: $primary;
      margin: 15px 0;
      text-transform: capitalize;
      transition: color 0.3s ease;

      &:hover {
        color: $secondary;
      }
    }
       .user-role,.user-name {display: none;}
       .site-header .user-dropdown .dropdown-toggle::after{content: none;}
       .site-header .user-dropdown .user-info{
        gap: 0;
       }
       .site-header .user-dropdown .dropdown-menu-custom{
        left: -109px;
       }
       .mobile-navbar .mobile-menu{
        justify-content: start !important;
       }
       .navbar-nav{
        margin-top: 55px;
        padding: 16px 25px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        height: 100%;
       }
       .site-header .navbar .menu-bar .nav-link {
    padding: 0px;

    
      }

      
    }

    
@media (min-width: 768px) {
    .menu-btn {
      display: none;
    }
    .mobile-menu {
      display: none;
    }
  }
 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1100;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }