$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

.success-banner {
    background: url(/src/img/success-background.jpg) no-repeat center center;
    background-size: cover;
    padding: 0px 0px 130px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    margin-bottom: 57px;
    height: 100%;
    min-height: 560px;

     &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #152B5280;
        z-index: 99;
    }
    .text-white.col{position: relative; z-index: 999;}
}

.success-banner h1 {
    font-size: 48px;
    font-weight: 600;
    color: rgba(255, 255, 255);
    line-height: 120%;
    position: relative;
    z-index: 1;
    margin: 0 0 16px;
}




a.btn.btn-secondary.btn-lg {
    background: $primary;
    font-size: clamp(0.875rem, 0.675rem + 1vw, 1.5rem);
    font-weight: 500;
    height: auto; transition: .5s all ease-in;
    border: none;
    border-radius: 10px;

    &:hover {
    background-color: $secondary;
    transition: .5s all ease-in;
  }
   
}
.button-wrap-flex {
    display: flex;
    gap: 24px;
    margin: 0 0 48px;

    @media (max-width: 767px) {
    justify-content: center;
  }
}

.success-inner-body {
    width: 100%;
    height: auto; position: relative;

 .bulb-1 {
    background: url(/src/img/blob-orange.png) no-repeat center center;
    width: 30%;
    height: 257px;
    position: absolute;
    right: 0;
    top: 14%;
    @media (min-width: 768px) {
    display: none; // hide on tablet & desktop
  }
}

 .bulb-2 {
    background: url(/src/img/blob-orange.png) no-repeat center center;
    width: 30%;
    height: 257px;
    position: absolute;
    right: 0;
    top: 46%;
    @media (min-width: 768px) {
    display: none; // hide on tablet & desktop
  }
}
    h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 24px;
    color: $primary;
}
    .success-upper {
    width: 100%;
    background: $body-bg;
    min-height: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #00000033;
    padding: 48px 36px;

    h2{font-size: clamp(1.5rem, 1.26rem + 1.2vw, 2.25rem); font-weight: 700; margin: 0 0 12px; color: $muted;}

    p.small-heading{
        margin: 0 0 48px;
        @media (max-width: 767px) {
        margin: 0 0 16px;
        padding: 0 0 16px;
        border-bottom: solid 1px $muted;
  }
    }

    .success-left {
    width: 55%;
    border-right: solid 0.5px $muted;
    padding-right: 46px;

    @media (max-width: 767px) {
        width: 100%;
        border-right: none;
        padding-right: 0;
  }
}
.section-a {
    padding: 0 0 36px;
    border-bottom: solid 0.5px $muted; margin: 0 0 36px;
    p{font-size: 16px; margin:0 0 12px}

    @media (max-width: 767px) {
        margin: 0 0 16px;
        padding: 0 0 16px;
        border-bottom: solid 1px $muted;}
}
.success-inner-wrap{display: flex;
    .success-right {
    width: 45%;
    padding: 0 0 0 49px;

    .success-sec-a{
        margin: 0 0 36px;
    padding: 0 0 42px;
    border-bottom: solid 1px $muted;
        p{margin-bottom: 14px;}

        @media (max-width: 767px) {

        margin: 0 0 16px;
        padding: 0 0 16px;
        border-bottom: solid 1px $muted;

}
    }

    @media (max-width: 767px) {
            width: 100%;
            padding: 0;
  }
}

@media (max-width: 767px) {
        padding: 0px;
        background: $white;
        flex-direction: column;
  }

      
}

@media (max-width: 767px) {
        padding: 24px;
        background: $white;
        box-shadow: none;
  }



}

    .success-lower{width: 100%;
    background: $body-bg;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #00000033;
    margin: 0 0 48px;
    margin: 0 0 48px;
    padding: 36px 37px;

    h3{margin-bottom: 16px;}

    @media (max-width: 767px) {
        padding: 24px;
        background: $white;
        box-shadow: none;
  }
}

    .barcode-section {
    width: 100%;
    min-height: 200px;
    background: $body-bg;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .barcode-wrap {
    margin: 22px 0px;
}
h3{margin: 0 0 16px;}
}
.wrapper-for-flex {
    gap: 36px;
    display: flex; gap: 30px;
    flex-direction: column;

    @media (max-width: 767px) {
        padding: 0px;
        background: $white;
        box-shadow: none;
        gap: 0;
  }

  
}


.find-us-responsive{
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    margin: 36px 0 0;

.responsive-map-wrap{
    width: 100%; height: auto; margin: 0 0 16px;
    img{width: 100%; height: auto;}
}

.address-bolcks {
       margin: 0 0 16px;
    padding: 16px 24px;
    background: $secondary;
    border-radius: 10px;
    color: $white;
    text-align: left;
    display: flex;
    gap: 10px;

    p{font-size: 12px; font-weight: 400;}

    .service-address {
        width: 100%;
        display: flex;
        gap: 30px;
        margin: 0 0 6px;
    }
}

p.title-text{font-size: 14px; margin: 0 0 16px;}





@media (min-width: 768px) {
    display: none; // hide on tablet & desktop
  }
}


}

.table-container-cg {
  width: 100%;
  overflow-x: auto; /* makes table scroll horizontally on small screens */
  margin: 1rem 0;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 300px;
  font-family: sans-serif;

  .table-sec-1 {
    padding: 36px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;

    @media (max-width: 767px) {

        margin: 0 0 16px;
        padding: 0 0 16px;

}
   
}

 .for-price{display: flex;
    width: 100%;
    justify-content: space-between;}
}
.table-sec-2 {
    padding: 16px 0px;
    min-height: 90px;
    border-top: solid 1px $muted;
}
.table-sec-3 {
    padding: 16px 0;
    border-top: solid 1px $muted;
    border-bottom: solid 1px $muted;
}
.table-sec-4 {
    padding: 16px 0;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: $muted;
}
