
.success-banner {
    background: url(/src/img/success-background.jpg) no-repeat center center;
    background-size: cover;
}

.success-banner h1 {
    font-size: 48px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    line-height: 120%;
    position: relative;
    z-index: 1;
    margin: 0 0 16px;
}




a.btn.btn-secondary.btn-lg {
    background: $primary;
    font-size: 24px;
    font-weight: 500;
    height: auto;
    border: none;
    border-radius: 10px;
}
.button-wrap-flex {
    display: flex;
    gap: 24px;
    margin: 0 0 48px;
}

.success-inner-body {
    width: 100%;
    height: auto;

    h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 24px;
    color: $muted;
}
    .success-upper {
    width: 100%;
    background: #F6F6F6;
    min-height: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #00000033;
    padding: 48px 36px;

    h2{font-size: 36px;
    font-weight: 700; margin: 0 0 12px; color: $muted;}

    p.small-heading{margin: 0 0 48px;}

    .success-left {
    width: 55%;
        border-right: solid 0.5px $muted;
    padding-right: 46px;
}
.section-a {
    padding: 0 0 36px;
    border-bottom: solid 0.5px $muted; margin: 0 0 36px;
    p{font-size: 16px; margin:0 0 12px}
}
.success-inner-wrap{display: flex;
    .success-right {
    width: 45%;
    padding: 0 0 0 49px;

    .success-sec-a{
        margin: 0 0 36px;
    padding: 0 0 42px;
    border-bottom: solid 1px $muted;
        p{margin-bottom: 14px;}
    }
}
}


}

    .success-lower{width: 100%;
    background: #F6F6F6;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #00000033;
    margin: 0 0 48px;
    margin: 0 0 48px;
    padding: 36px 37px;

    h3{margin-bottom: 16px;}
}

    .barcode-section {
    width: 100%;
    min-height: 200px;
    background: $body-bg;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .barcode-wrap {
    margin: 22px 0px;
}
h3{margin: 0 0 16px;}
}
.wrapper-for-flex {
    gap: 36px;
    display: flex;
    flex-direction: column;
}
}

.table-container-cg {
  width: 100%;
  overflow-x: auto; /* makes table scroll horizontally on small screens */
  margin: 1rem 0;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 300px;
  font-family: sans-serif;

  .table-sec-1 {
    padding: 36px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;

   
}

 .for-price{display: flex;
    width: 100%;
    justify-content: space-between;}
}
.table-sec-2 {
    padding: 16px 0px;
    min-height: 90px;
    border-top: solid 1px $muted;
}
.table-sec-3 {
    padding: 16px 0;
    border-top: solid 1px $muted;
    border-bottom: solid 1px $muted;
}
.table-sec-4 {
    padding: 16px 0;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: $muted;
}
