.navigation-links{
    font-size: 24px;
    color: #999999;
    margin: 0 0 24px !important;
}
.pricing-rates{
    margin: 0 0 54px;
      justify-content: center;
      display: flex;
      gap: 15px;
      
    @media (max-width: 768px) {
      overflow-x: auto;
      margin: 0 0 36px;
      justify-content: start;
      scroll-snap-type: x mandatory;
      gap: 1rem;
      padding-bottom: 10px;
      &::-webkit-scrollbar {
        display: none;
      }
      .pricing-card {
        flex: 0 0 90%;
        scroll-snap-align: start;
        padding:5px;
      }
    }
.pricing-inner {
    width: 100%;
    min-height: 300px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 36px 10px 27px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2.p-head {
    color: #152B52;
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 16px;
}
p.p-text {
    font-size: 16px;
    color: #999999;
    margin: 0 0 24px;
}
h2.pricing-text {
    color: #152B52;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}
p.taxes-text {
    color: #999999;
    font-size: 12px;
    margin: 0 0 24px;
}
p.para-txt {
    font-size: 14px;
    color: #999999;
    margin: 0 0 35px;
    line-height: 120%;
}
a {
    font-size: 24px;
    background: #152B52;
    color: #ffffff;
    border-radius: 10px;
    height: 54px;
    display: flex;
    width: 210px;
    justify-content: center;
    align-items: center;
    margin: 0 0 16px;
}
@media (max-width: 768px) {
    height: 100%;
}
}
}

.parking-type {
    padding: 48px 0px;
    background: #F6F6F6;
    width: 100%;
    height: auto;

    h2.park-heading
    {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    }
    .parking-img {
        width: 100%;
        height: auto;
        padding: 50px;
    img
    {
        width: 100%; 
        height: auto;
    }
}
.for-row-flex {
    height: 100%;
    padding: 0;
    gap: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h3 {
    font-size: 24px;
    font-weight: 700;
    color: #152B52;
    margin: 0 0 12px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin: 0 0 8px;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    color: #E68531;
    font-style: italic;
}
    }
}

@media (max-width: 768px) {
    .find-space-section{
        flex-direction: column-reverse;
        .img-park{
            order: 1;
        }
        .parking-img{
            padding: 0px;
            margin-top: 24px;
            margin-bottom: 16px;
        }
    }
}