.tandc-section{
    .tandc-box{
        color: #000;
        margin-bottom: 36px;
        h4{
            font-size: 24px;
            font-weight: 600;
            line-height: 100%;
            margin-bottom: 16px;
        }
        
        .tanc-info{
            padding-left: 31px;
            @media (max-width: 768px) {
              padding-left: 10px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 100%;
                margin-bottom: 16px;
                line-height: 130%;
                @media (max-width: 768px) {
                   font-size: 14px;
                   line-height: 120%;
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin-bottom: 16px;
                padding-left: 18px;
                list-style-type: disc;
                @media (max-width: 768px) {
                    padding-left: 10px;
                }
                li{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 100%;
                    @media (max-width: 768px) {
                    font-size: 14px;
                    line-height: 100%;
                    }
                }
            }
        }
    }
    .tandc-footer{
        text-align: center;
        padding-top: 14px;
        p{
            margin-bottom: 16px;
        }
    }
}