@import './_font';
@import './_variables';
@import './_header';
@import './_footer';
@import './_signin';
@import './_registratation';
@import './_booking';
@import './_modal';
@import './_home';
@import './_faq';
@import './service';
@import './uploadfile';
@import './addon';
@import './pricing';
@import './PaymentSuccessful';

html, body, #root { height: 100%; }
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
body {
  font-family: $poppins-font;
  color: #222;
}

.main-button{
    border-radius: 10px;
    padding: 17px 23px;
    font-weight: 500;
    font-size: 18px;
    background: $primary;
    color: $white;
    border: none;
    line-height: 100%;
    letter-spacing: 0%;
}


.custome-form-group{
    label{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 8px;
        color: $muted;
    }
    input, select, textarea{
        border-radius: 10px;
        border: 1px solid $primary;
        background: #F6F6F6;
        padding: 13px 12px;
        font-size: 18px;
        transition: all 0.2s;
        font-weight: 400;
        color: rgba(90, 89, 87, 0.3);


        &:focus {
            border-color: $primary;
            box-shadow: 0 0 0 0.2rem rgba(11, 46, 103, 0.15);
        }
    }
}

.checkbox-group {
    margin-top: 17px;
    gap: 17px;
  .form-check {
    transition: all 0.2s ease;
    cursor: pointer;
    

    &:hover {
      border-color: $primary;
      box-shadow: 0 0 4px rgba(11, 46, 103, 0.15);
    }

    .form-check-input {
      border-color: $primary;
      cursor: pointer;
      width: 24px;
        height: 24px;
        border-radius: 5px;
        margin-top: 0px;

      &:checked {
        background-color: $primary;
        border-color: $primary;
      }
    }

    .form-check-label {
      font-weight: 500;
      color: $muted;
      font-size: 18px;
      margin-left: 12px;
    }
  }
}

.inner-banner{
    padding: 0px 0px 130px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    margin-bottom: 57px;
    height: 100%;
    min-height: 250px;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(230, 133, 49, 0) 0%, rgba(0, 0, 0, 0.36) 50.48%, rgba(0, 0, 0, 0.6) 79.46%);
    }
    h1{
        font-size: 36px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.7);
        margin: 0;
        line-height: 120%;
        position: relative;
        z-index: 1;

        span{
            font-size: 48px;
            font-weight: 600;
            color: $white;
        }
    }
}
.registration-banner{
     background: url('../img/regi-banner.jpg') no-repeat center center;
     background-size: cover;
}
.pricing-banner{
     background: url('../img/pricing-banner.jpg') no-repeat center center;
    background-size: cover;
    &::before{
        background: rgba(21, 43, 82, 0.65);
    }
}
.addon-banner{
    background: url('../img/addon-services.jpg') no-repeat center center;
    background-size: cover;
    &::before{
        background: rgba(21, 43, 82, 0.65);
    }
}
.booking-banner{
      background: url('../img/book-banner.jpg') no-repeat center center;
      background-size: cover;
      padding: 0px 0px 0px;
}


.title-card{
  margin: 48px 0;
  h3{
    font-size: 48px;
    font-weight: 700;
    color: $primary;
    margin-bottom: 16px;
    line-height: 100%;
  }
  p{
    font-weight: 400;
    font-size: 24px;
    color: $primary;
    line-height: 100%;
  }
}

.myprofile-form{
  margin-top: 24px;
  .row{
    gap: 24px 0;
  }
  .registration-btns{
    gap: 0px 24px;
  }
}

.heading-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px 0;
  margin-bottom: 36px;
  @media (max-width: 768px) {
         margin-bottom: 16px;
    }
  h2{
    font-size: 48px;
    font-weight: 700;
    color: $primary;
    line-height: 100%;
    margin-bottom: 0;
    @media (max-width: 768px) {
        font-size: 24px;
    }
    span{
      color: $secondary;
    }
    
  }
  h3{
    font-size: 36px;
    font-weight: 700;
    color: $secondary;
    line-height: 120%;
  }
  p{
    font-size: 24px;
    font-weight: 400;
    color: $muted;
    line-height: 100%;
    @media (max-width: 768px) {
        font-size: 14px;
    }
  }
}

.section-padding{
  padding: 41px 0;
}

.custom-breadcrumb {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  color: #999;
  margin-bottom: 51px;

  .breadcrumb-item {
    color: #9b9b9b;
    transition: color 0.3s ease;

    &:hover {
      color: $secondary;
      cursor: pointer;
    }

    &.active {
      color: $primary;
    }
  }

  .breadcrumb-separator {
    color: #999;
    font-weight: 500;
  }
}
